<!-- JavaScript -->
<!-- We dont need ../node_modules because we already include in the route path-->
<script src="jquery/dist/jquery.min.js"></script>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script src="Scripts/app.js"></script>

<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">
<niv>
       <hr class="my-9" />

    <!-- Footer Elements -->
    <div class="container">

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-lg-2 col-md-12 mb-4">

                <!--Image-->
                <div class="view overlay z-depth-1-half">
                        <a href="services">

                    <img src="/Assets/images/c.jpg" class="img-fluid"
                        alt="">
                        
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4">

                <!--Image-->
                <div class="view overlay z-depth-1-half">
                        <a href="services">
                                <img src="/Assets/images/sele.jpg" class="img-fluid"
                        alt="">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4">

                <!--Image-->
                <div class="view overlay z-depth-1-half">
                        <a href="services">

                    <img src="/Assets/images/bi.jpg" class="img-fluid"
                        alt="">
                   
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-2 col-md-12 mb-4">

                <!--Image-->
                <div class="view overlay z-depth-1-half">
                        <a href="services">

                    <img src="/Assets/images/aws.jpg" class="img-fluid"
                        alt="">
                   
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4">

                <!--Image-->
                <div class="view overlay z-depth-1-half">
                        <a href="services">

                    <img src="/Assets/images/java.jpg" class="img-fluid"
                        alt="">
             
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4">

                <!--Image-->
                <div class="view overlay z-depth-1-half">
                        <a href="services">

                    <img src="/Assets/images/mean.jpg " class="img-fluid"
                        alt="">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
    <!-- Footer Elements -->
   <!--<hr class="my-9" />--> 

    <div class="text-center py-3">
    <a href="/contact">Follow Me</a>    
    </div>
    
    <div>

        <div class="text-center">

            <a href="https://www.facebook.com" target="_blank" title="Facebook Page" class="fa-lg"><i class=" fa fa-facebook-f"></i></a>
            <a href="https://twitter.com" target="_blank" title="Twitter" class="fa-lg"> <i class="fa fa-lg fa-twitter"></i></a>
            <a href="https://plus.google.com" target="_blank" title="Google Plus" class="fa-lg"> <i class="fa fa-lg fa-google-plus-square"></i></a>
            <a href="https://www.linkedin.com" target="_blank" title="Linkedin" class="fa-lg"> <i class="fa  fa-lg fa-linkedin"></i></a>
        </div>
        <!-- Copyright -->
    </div>
    <div class="footer-copyright text-center py-3">&copy; Copyright 2019 Abdul Shukor. All Rights Reserved.
    </div>
    
</footer>
</body>

</html>