
    <!-- JavaScript -->
    <!-- We dont need ../node_modules because we already include in the route path-->
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="Scripts/app.js"></script>

    <footer>
      <div class="navbar fixed-bottom navbar-dark text-white" style="background-color: #000000;">
        <div class="container">

      <h6>&copy; Copyright 2019, Abdul Shukor. All Rights Reserved. </h6>
          <div class="navbar-text pull-right">
      <a href="https://www.facebook.com" target="_blank" title="Facebook Page" class="fa-lg"><i class=" fa fa-facebook-f"></i></a>
     <a href="https://twitter.com" target="_blank" title="Twitter" class="fa-lg"> <i class="fa fa-lg fa-twitter"></i></a>
     <a href="https://plus.google.com" target="_blank" title="Google Plus" class="fa-lg"> <i class="fa fa-lg fa-google-plus-square"></i></a>
     <a href="https://www.linkedin.com" target="_blank" title="Linkedin" class="fa-lg"> <i class="fa  fa-lg fa-linkedin"></i></a>
         </div>
       </div>
      </div>
    </footer>
  </body>
</html>