<!-- JavaScript -->
<!-- We dont need ../node_modules because we already include in the route path-->
<script src="jquery/dist/jquery.min.js"></script>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script src="Scripts/app.js"></script>

<!-- Footer -->

<footer class="page-footer font-small mdb-color lighten-3 pt-4">

       
   
    <div class="text-center py-1 " style="background-color: #000000;">
    <a href="/about" style="color:white">About Me</a>    
    </div>
    
    <div>
        <!-- Social media links-->
        <div class="text-center py-1" style="background-color: #000000; ">
            <a href="https://www.facebook.com"  target="_blank" title="Facebook Page" class="fa-lg"><i class=" fa fa-facebook-f " style="color:white"></i></a>
            <a href="https://twitter.com" target="_blank" title="Twitter" class="fa-lg"> <i class="fa fa-lg fa-twitter"style="color:white" ></i></a>
            <a href="https://plus.google.com" target="_blank" title="Google Plus" class="fa-lg"> <i class="fa fa-lg fa-google-plus-square " style="color:white"></i></a>
            <a href="https://www.linkedin.com" target="_blank" title="Linkedin" class="fa-lg"> <i class="fa  fa-lg fa-linkedin" style="color:white"></i></a>
        </div>
        <!-- Copyright -->
    </div>
    <div class="footer-copyright text-center  py-1"style="background-color: #000000 ;color:white;" >&copy; Copyright 2019 Abdul Shukor. All Rights Reserved.
    </div>
    
</footer>
</body>
</html>