<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Ejs enjection -->
    <title><%=title%></title>
    <!-- We dont need ../node_modules because we already include in the route path-->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="public/Content/app.css" />
    <!-- css style -->
  </head>

  <body>
  <!--navbar-->
    <nav
      class="navbar navbar-expand-lg navbar-dark"
      style="background-color: #000000;"
    >
    <!-- <a class="navbar-brand" href="/">Abdul Shukor</a>-->

      <a class="navbar-brand-brand" href="/">
      <!-- Custome Logo-->
        <img src="/Assets/images/Abdul.jpg" height="55" width="200" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <% if(title == "Home") { %>
          <li class="nav-item active"><% } else { %></li>
          <li class="nav-item">
            <% } %>

            <a class="nav-link" href="/"
              ><i class="fa fa-lg fa-home"></i> Home
              <span class="sr-only">(current)</span></a
            >
          </li>

          <% if(title=="About"){%>
          <li class="nav-item active"><%}else {%></li>

          <li class="nav-item">
            <%} %>

            <a class="nav-link" href="/about"
              ><i class="fa fa-lg fa-info"></i> About Me</a
            >
          </li>

          <% if(title=="Projects"){%>
          <li class="nav-item active"><%}else {%></li>

          <li class="nav-item">
            <%} %>

            <a class="nav-link" href="/Projects">
              <i class="fa fa-lg fa-laptop"></i> Projects</a
            >
          </li>

          <% if(title=="Services"){%>
          <li class="nav-item active"><%}else {%></li>

          <li class="nav-item">
            <%} %>
            <a class="nav-link" href="/services"
              > <i class="fa fa-lg fa-wrench"></i>Services</a
            >
          </li>

          <% if(title=="Contact"){%>
          <li class="nav-item active"><%}else {%></li>

          <li class="nav-item">
            <%} %>
            <a class="nav-link" href="/contact"
              ><i class="fa fa-lg fa-phone"></i> Contact</a
            >
          </li>
        </ul>
      </div>
    </nav>
  
