<img src="/Assets/images/abdulshukor.jpg" />

<p class="lead">
  Hi there! I’m Abdul Shukor from Toronto, Canada. I’m doing software
  engineering technology three years course at Centennial College. Currently,
  I’m in the last semester of the course, and I will be graduating in 2019-04-19
  with honor designation.
</p>

<hr class="my-9" />