<img src="/Assets/images/abdulshukor.jpg" />

<p class="lead">
</br>
  Hi there! I’m Abdul Shukor from Toronto, Canada. I’m doing software
  engineering technology three years course at Centennial College. Currently,
  I’m in the last semester of the course, and I will be graduating in 2019-04-19
  with honor designation.
  </br>
  I have done several academic projects through the course, some of them I listed in the Projects list. During the
  course and implementation of these project I have learning the following Technical skills.

</p>

<h5>Web Application Development: C#, Asp.net, .Net Core 2.1, JavaScript, Typescript, Java,
  HTML5/XML, JSON, CSS, Bootstrap, Web API, Restful API, Swagger, Postman.
</h5>
<h5>Android App development: Java, XML.</h5>
<h5>Databases: Oracle SQL, PL/SQL, MySQL, Microsoft SQL Server.</h5>
<h5>Business Intelligence: Data Mining, SSIS, SSRS, SSAS.</h5>
<h5>AWS development: EC2, Lambda, Elastic Beanstalk, S3, RDS, DynamoDB, Route 53, IAM, CloudWatch.</h5>
<h5>Web Application Security: Software Security, Security Strategies in Web Applications.</h5>
<h5>Microsoft Office: Excel, Word, PowerPoint, Access. </h5>
<h5>Software Testing & Quality: Selenium, TestNG, Maven, Jenkins.</h5>
<h5> Software Methodologies: Agile Methodologies and UML language skills.</h5>
<h5>Operating Systems: Unix/Linux, Windows. </h5>
<h5> Version Control: Git, GitHub.</h5>
<h5> Basics of Computer Networking. </h5>
<h5> Apigee API Security Management. </h5>
<h5>Statistical Analysis System (SAS).</h5>
<h5>Project Management: WBS, Budget and Schedule, Stakeholders Management Plan, Quality Management Plan, 
  Risk Management Plan, Organizational Change Management Plan, and Product Release Approaches</h5>
<h5>Development Tools: Microsoft Expression Web, Visual Studio, Visual Studio Code, Android Studio,
  Eclipse, Visual Paradigm, Visio, IntelliJ.)
</h5>


<p class="lead">
  Beside all these technical skills, I am a
  fast learner and an excellent listener,
  Excellent interpersonal and communication skills,
  Ability to Work Under Pressure and Team Player,
  A good Problem Solver and Time Oriented,
  Responsible and Reliable,
  Energetic work attitude and
  Focused and flexible.


</p>
<p class="lead">
  I have done some professional online courses form Udemy.com.

  <h5>C# (Completed, Dec.2017) </h5>
  <h5>Oracle SQL (Completed,  May.2017) </h5>
  <h5>Oracle PL/SQL (Completed, Nov.2017) </h5>
  <h5>Java </h5>
  <h5>Selenium WebDriver with Java - Basics to Advanced (Completed,  Aug.2018) </h5>

</p>

<h5>Click the link to download my updated resume.</h5>
<a href="https://drive.google.com/drive/recent/Abdul Shukor_Resume.docx " class="text-primary" >
    <h5>Resume</h5> 
    </a>


<hr class="my-9" />
