<img src="/Assets/images/abdulshukor.jpg" />

<p class="lead">
</br>
  Hi there! I’m Abdul Shukor from Toronto, Canada. I’m doing software
  engineering technology three years course at Centennial College. Currently,
  I’m in the last semester of the course, and I will be graduating in 2019-04-19
  with honor designation. Moreover, I am a fast learner and an excellent listener. I have excellent interpersonal and
   communication skills and I am a very social, friendly and respectful person toward others.
</br>

<p class="lead">

I apply analytic thinking to problems and find a pragmatic solution that isn't a quick fix, but a lasting value.  
I am and always will be a student. There will always be things I have to learn, and I will make mistakes, which develop me.

</p>


</p>
<p class="lead">
  I have done several academic projects throughout the course, some of them I listed in the Projects page. During the
  course and implementation of these project I have learned the following Technical skills.

</p>
<p class="lead">
  <ul>
  <li><h5>Web Application Development: C#, Asp.net, .Net Core 2.1, JavaScript, Typescript, Java,
  HTML5/XML, JSON, CSS, Bootstrap, Web API, Restful API, Swagger, Postman.
</h5></li>
<li><h5>Android App development: Java, XML.</h5></li>
<li><h5>Databases: Oracle SQL, PL/SQL, MySQL, Microsoft SQL Server.</h5></li>
<li><h5>Business Intelligence: Data Mining, SSIS, SSRS, SSAS, ETL.</h5></li>
<li><h5>AWS development: EC2, Lambda, Elastic Beanstalk, S3, RDS, DynamoDB, Route 53, IAM, CloudWatch.</h5></li>
<li><h5>Web Application Security: Software Security, Security Strategies in Web Applications.</h5></li>
<li><h5>Microsoft Office: Excel, Word, PowerPoint, Access. </h5></li>
<li><h5>Software Testing & Quality: Selenium, TestNG, Maven, Jenkins.</h5></li>
<li><h5> Software Methodologies: Agile Methodologies and UML language skills.</h5></li>
<li><h5>Operating Systems: Unix/Linux, Windows. </h5></li>
<li><h5> Version Control: Git, GitHub.</h5></li>
<li><h5> Basics of Computer Networking. </h5></li>
<li><h5> Apigee API Security Management. </h5></li>
<li><h5>Statistical Analysis System (SAS).</h5></li>
<li><h5>Project Management: WBS, Budget and Schedule, Stakeholders Management Plan, Quality Management Plan, 
  Risk Management Plan, Organizational Change Management Plan, and Product Release Approaches</h5></li>
<li><h5>Development Tools: Microsoft Expression Web, Visual Studio, Visual Studio Code, Android Studio,
Eclipse, Visual Paradigm, Visio, IntelliJ.)</h5></li>
</ul>
</p>



  <h4 class="display-5">I have done some professional online courses form Udemy.com.</h4>

  <p class="lead">

      <ul>
             <li>C# (Completed, Dec.2017)</li>
             <li>Oracle SQL (Completed,  May.2017)</li>
             <li>Oracle PL/SQL (Completed, Nov.2017)</li>
             <li>Java (Completed, Feb.2019)</li>
             <li>Selenium WebDriver with Java - Basics to Advanced (Completed,  Aug.2018) </li>
   </ul>
  
</p>
<!--the button for downloading my resume-->
<h5>Click the link to download my updated resume.</h5>
<a href="Assets/documents/abdul_shukor_resume.pdf" download><button class="btn btn-outline-primary"><i class="fa fa-download"></i>&nbsp; Resume</button></a>
  
<hr class="my-9" />



