
<h4>Hello, Welcome to the Website</h4>
<p class="lead">

I am Abdul Shukor, a software engineer. 
I apply analytic thinking to problems and find a pragmatic solution that isn't a quick fix, but a lasting value.  
I am and always will be a student. There will always be things I have to learn, and I will make mistakes, which develop me.
    </p>