</br>

<h3>1. Flash Chat App</h3>
</br>
<img src="/Assets/images/andriod.jpg" />

</br>
</br>


<p class="lead">
    I created a Flash Chat app, which is a real massaging app like WhatsApp or Facebook messenger.
    I used Java, XML, and google Firebase database for storing user SMS and credentials.
    I developed this app using the android studio.
</p>


</br>

<h3>2. WorkForce API </h3>
</br>
<img src="/Assets/images/workforce.jpg" />

</br>
</br>
<p class="lead">
    I created WorkForce web API for unemployment employee who is looking for a job.
    The WorkForce API is securely accessing unemployed employee data from AWS-RDS database.
    the potential customer of the WorkForce is an employer, but it can be consumed for many deferent purposes.
    For developing WorkForce, I used these technologies, C#, .Net Core2.1, AWS-RDS, swagger, JSON, XML, Postman, Apigee
    API management platform, and hosted on AWS Elastic Beanstalk.

</P>

<p class="lead">
    My group member implements WorkForce API through making console application.
</p>

</br>
<h3>3. eAppointment </h3>

<p class="lead">
    It is software development project, designed for an online doctor appointment application with eight subsystems
    which will enable users to find the nearest doctors and at the earliest possible time to set doctor’s appointments.
    Using, UML Language, and Agile methodology.
    </br>



    <h5> ERD Diagram</h5>
    </br>
    <img src="/Assets/images/ERDeAppointment.jpg" />
    </br>
    </br>
    <h5> Domain Class Diagram</h5>
    </br>
    <img src="/Assets/images/domainCD.jpg" />
</p>