<h4>I am available to work at the following fields .</h4>
<p class="lead">

  Web Application Development.
  </br>
  Android Apps development.
  </br>

  Business Intelligence.
  </br>

  Software Testing & Quality, Selenium Automation Testing.
  </br>

  Database Development (Oracle SQL, PL/SQL, MySQL, Microsoft SQL Server, and
  MongoDB).
  </br>

  AWS development.
  </br>

  Web API, Restful API.
  </br>

  Apigee API Security Management.

  </br>

</p>



<!-- <hr class="my-9" />
          <img src="/Assets/images/mean.jpg " height="55" width="100" />
          <img src="/Assets/images/java.jpg"height="55" width="100"  />
          <img src="/Assets/images/c.jpg"height="100" width="100"  />
          <img src="/Assets/images/aws.jpg"height="100" width="100"  />
          <img src="/Assets/images/apigee.jpg"height="100" width="100"  />
          <img src="/Assets/images/bi.jpg"height="100" width="100"  />
          <img src="/Assets/images/oracle.jpg"height="100" width="100"  />
          <img src="/Assets/images/sql.jpg"height="100" width="100"  />
          <img src="/Assets/images/webs.jpg"height="100" width="100"  />
          <img src="/Assets/images/sele.jpg"height="100" width="100"  />
          -->