</br>
<h4 class=display-5>I am available to work at the following fields.</h4>
</br>

<p class="lead">

 <div class="alert  alert-secondary" role="alert"> Web Application Development.</div>
  <div class="alert  alert-secondary" role="alert">Android Apps development.</div>

  <div class="alert  alert-secondary" role="alert">Business Intelligence.</div>
 

 <div class="alert  alert-secondary" role="alert"> Software Testing & Quality, Selenium Automation Testing.</div>

<div class="alert  alert-secondary" role="alert"> Database Development (Oracle SQL, PL/SQL, MySQL, Microsoft SQL Server, and
  MongoDB).</div>

 <div class="alert  alert-secondary" role="alert"> AWS development.</div>

 <div class="alert  alert-secondary" role="alert"> Web API, Restful API, Swagger, Postman.</div>

  <div class="alert  alert-secondary" role="alert">Apigee API Security Management.</div>
  <div class="alert  alert-secondary" role="alert">  Mean Stack Development.</div>


  

</p>



<!-- <hr class="my-9" />
          <img src="/Assets/images/mean.jpg " height="55" width="100" />
          <img src="/Assets/images/java.jpg"height="55" width="100"  />
          <img src="/Assets/images/c.jpg"height="100" width="100"  />
          <img src="/Assets/images/aws.jpg"height="100" width="100"  />
          <img src="/Assets/images/apigee.jpg"height="100" width="100"  />
          <img src="/Assets/images/bi.jpg"height="100" width="100"  />
          <img src="/Assets/images/oracle.jpg"height="100" width="100"  />
          <img src="/Assets/images/sql.jpg"height="100" width="100"  />
          <img src="/Assets/images/webs.jpg"height="100" width="100"  />
          <img src="/Assets/images/sele.jpg"height="100" width="100"  />
          -->